*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: rgb(46, 45, 45);
    width: 100%;
    max-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg,#00feba,#5b548a);
    color: #fff;
    align-content: center;
    margin: 100px auto;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#city-input{
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 40px;
    border-radius: 30px;
    font-size: 18px;
    flex: 1;
    margin-right: 16px;   
}
#city-btn{
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.search-box i{
    width: 15px;
}
.weather-icon{
    width: 140px;
    margin-top: 30px;
}
.temp{
    font-size: 80px;
    font-weight: 500;
}
.city-name{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .windy{
    font-size: 28px;
    margin-top: -6px;
}
.hidden{
    display: none;
}